In [35]:
import pandas as pd
from pandas import Series,DataFrame

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
ar_df = pd.read_csv('csv/air_reserve.csv')
asi_df = pd.read_csv('csv/air_store_info.csv')
avd_df = pd.read_csv('csv/air_visit_data.csv')
hr_df = pd.read_csv('csv/hpg_reserve.csv')
hsi_df = pd.read_csv('csv/hpg_store_info.csv')
sir_df = pd.read_csv('csv/store_id_relation.csv')
sample_df = pd.read_csv('csv/sample_submission.csv')

In [ ]:
ar_df.info()

In [ ]:
asi_df.head()

In [ ]:
avd_df.head()

In [ ]:
hr_df.head()

In [22]:
hsi_df.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [ ]:
sir_df.head()

In [ ]:
sample_df.head()

In [ ]:
xh = hsi_df['longitude']
yh = hsi_df['latitude']
plt.scatter(xh,yh)
plt.show()

In [ ]:
xa = asi_df['longitude']
ya = asi_df['latitude']
plt.scatter(xa,ya)
plt.show()

In [37]:
asi_location_df = pd.DataFrame(asi_df.air_area_name.str.split(' ', 2).tolist(), columns = ['province','city', 'street'])
asi_df = asi_df.join(asi_location_df)
asi_df.drop(['air_area_name'], axis=1, inplace=True)

In [58]:
asi_province = asi_df['province'].value_counts()
asi_city = asi_df['city'].value_counts()
asi_street = asi_df['street'].value_counts()
print(asi_city.size)

55

In [39]:
hpg_location_df = pd.DataFrame(hsi_df.hpg_area_name.str.split(' ', 2).tolist(), columns = ['province','city', 'street'])
hsi_df = hsi_df.join(hpg_location_df)
hsi_df.drop(['hpg_area_name'], axis=1, inplace=True)

In [56]:
hpg_province = hsi_df['province'].value_counts()
hpg_city = hsi_df['city'].value_counts()
hpg_street = hsi_df['street'].value_counts()
print(hpg_city)

Ōsaka-shi               315
Shinjuku-ku             294
Chūō-ku                 284
Fukuoka-shi             257
Minato-ku               241
Sapporo-shi             221
Hiroshima-shi           195
Kōbe-shi                192
Shibuya-ku              185
Prefecture              145
Toshima-ku              137
Sendai-shi              132
None                    126
Hachiōji-shi            114
Niigata-shi             111
Taitō-ku                100
Hamamatsu-shi            90
Chiyoda-ku               89
Sumida-ku                86
Shizuoka-shi             84
Kitakyūshū-shi           84
Machida-shi              74
Hino-shi                 65
Himeji-shi               63
Yokohama-shi             61
Sakai-shi                60
Kōtō-ku                  53
Bunkyō-ku                53
Adachi-ku                52
Asahikawa-shi            45
                       ...
Akashi-shi               22
Kokubunji-shi            22
Takatsuki-shi            20
Hakodate-shi             17
Amagasaki-shi            17
Shinagawa-ku             17
Tokachi-gun              14
Shimada-shi              13
Nishitōkyō-shi           12
Niiza-shi                11
Meguro-ku                11
Kaizuka-shi              11
Tama-shi                 11
Higashihiroshima-shi     10
Suginami-ku               9
Nishinomiya-shi           9
Ibaraki-shi               9
Fussa-shi                 7
Chikushino-shi            5
Koganei-shi               4
Itabashi-ku               4
Ōsaki-shi                 4
Jōetsu-shi                3
Shiogama-shi              3
Iizuka-shi                2
Fujinomiya-shi            2
Itō-shi                   2
Shibata-shi               2
Ashibetsu-shi             1
Minoo-shi                 1
Name: city, Length: 72, dtype: int64

In [50]:
province_count = pd.concat([asi_province, hpg_province]).size # 22
city_count = pd.concat([asi_city, hpg_city]).size # 127
street_count = pd.concat([asi_street, hpg_street]).size # 201
loaction_total = province_count + city_count + street_count # 350
print('loaction_total:', loaction_total)

loaction_total: 350